h1{
    font-size: 3rem;
    font-weight: bold;
  
}

.card{
    img{
    width: 200px;
    height: 300px;
}
    border: 1px solid Black;
    border-radius: 12px;
    padding: 1rem;
}

.card-container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
